{% extends "main/base.html" %}
{% block title %}Список опросов{% endblock %}
{% block content %}

    <div class="row">
        {% if polls_list %}
            {% for poll in polls_list %}
                <div class="d-flex col-sm-6 col-md-6 col-lg-3 p-1 w-100">
                    <div class="card">
                        <div class="card-header text-center"><h5>{{ poll.name }}</h5></div>
                        <div class="card-body d-flex align-content-between flex-column">
                            <p class="card-text h-100">{{ poll.description }}</p>
                            <p class="card-text text-muted align-self-end">Вопросов: {{ poll.question_set.count }}</p>
                            <a href="{% url 'polls.poll_page' poll.id %}" class="btn btn-primary align-self-end">
                                Пройти опрос
                            </a>
                        </div>
                        <div class="card-footer text-muted">
                            <small>{{ poll.created }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Извините, ни один опрос сейчас не проводится.</p>
        {% endif %}
    </div>

{% endblock %}