{% extends "main/base.html" %}
{% block title %}{{ poll.name }}{% endblock %}

{% block content %}

    <form>
        {% for question in poll.question_set.all %}
            <div class="my-2 mx-auto col-lg-6 col-md-10 ">
                <div class="card ">
                    <div class="card-header">
                        {{ question.text }}
                    </div>
                    <div class="card-body">
                        {% for answer in question.answer_set.all %}
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="{{ question.id }}" id="{{ answer.id }}">
                                <label class="form-check-label" for="{{ answer.id }}">{{ answer }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>

{% endblock %}